body {
    background: linear-gradient(180deg, #472727 55%, #562626 80%, #4d1818 100%) !important;
}
.bgsize100 {
    background-size: 100% 100%;
}
.grid-container > :last-child {
    grid-column: span 2;
  }